*{
    background-color: #85DCBA;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.topnav {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
    border-radius: 15px;
    margin-bottom: 20px;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1.4% 5%;
    text-decoration: none;
    font-size: 1.2vw;
    transition: 0.3s;
}



  
.topnav a:hover {
    background-color: #41B3A3;
    color: black;
    border-radius: 15px;
}
  
.topnav a.active {
    background-color: #41B3A3;
    color: white;
}




#content{
  background-color: white;
  border-radius: 30px;
  margin-left: 20%;
  margin-right: 20%;
}

#content h1{
  border-radius: 30px;
  background-color: white;
  font-size: 50px;
  text-align: center;
}





.footer-basic {
    margin-top: 100px;
    margin-bottom: 100px;
    padding:40px 0;
    color:#4b4c4d;
    background-color: #41B3A3;
    border-radius: 0 0 30px 30px;
    
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:30px;
    line-height:1.6;
    background-color: #41B3A3;
  }
  
  .footer-basic li {
    padding:0 10px;
    display: inline-block;
    background-color: #41B3A3;
  }
  
  .footer-basic ul a {
    color:rgb(81, 81, 81);
    text-decoration:none;
    opacity:0.7;
    background-color: #41B3A3;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:5px;
    background-color: #41B3A3;
  }
  
  .footer-basic .social > a > img{
    width:40px;
    height:40px;
    display:inline-block;
    text-align:center;
    opacity:0.75;
    background-color: #41B3A3;
  }

  .footer-basic .social > a{
    background-color: #41B3A3;
    margin: 0 50px;  
  
  }
  
  .footer-basic .social > a > img:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:20px;
    color:#E27D60;
    margin-bottom:0;
    background-color: #41B3A3;
  }


  @media only screen and (max-width: 600px) {
    *{
      background-color: white;
    }
    #content{
      margin: -8px;
    }

    .topnav{
      border-radius: 0;
      width: 100%;
    }

    .topnav a {
      font-size: 3vw;
      background-color: #228B22;
    }

    .footer-basic .social > a > img{
      width:30px;
      height:30px;
      display:inline-block;
      text-align:center;
      opacity:0.75;
      background-color: #45af45;
    }

  }









