
#content{
    background-color: white;
    border-radius: 30px;
    height: 2000px;
    margin-left: 20%;
    margin-right: 20%;
}

#content h1{
    background-color: white;
    font-size: 50px;
    text-align: center;
}








